body, html{
    height: 100%;
}

body{
    @include font-1;
    color: $jet;
    #app, main{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    
    #app{
        height: 100%;
    }

    
}