$offset_dist: -100px;

.list {
    &--page-nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        background: #fff;
        box-shadow: 0 0 10px rgba(black, 0.2);
    }
    &--content {
        flex: 1 1 auto;
        overflow: auto;
        padding-bottom: 80px;
    }

    // component
    &--item-title {
        color: $dark;
        display: inline-block;
        position: relative;
        &:before {
            height: 1px;
            width: 0;
            display: block;
            left: -30px;
            content: "";
            position: absolute;
            background: $x-11;
            top: 0.75rem;
            transition: width 0.3s ease;
        }
    }

    &--item-due {
        display: block;
        color: $x-11;
    }

    &--item {
        margin-bottom: 1em;
        display: flex;
        overflow: hidden;
        position: relative;

        .form-check {
            display: flex;
            padding: 0;
            width: 100%;

            &-label {
                display: flex;
                flex: 1 1 auto;
                position: relative;

                &:before {
                    display: block;
                    content: "";
                    @include r(0.8rem);
                    border: 2px solid darken($cultured, 3%);
                    border-radius: 2px;
                    @include mx(10px);
                    margin-top: 0.4rem;

                    transition: all 0.3s ease;
                    transform: rotateX(0deg);
                }
                &:after {
                    left: 0;
                    height: 1px;
                    width: 0%;
                    margin-top: 0.6rem;
                    background: $x-11;
                    position: absolute;
                    // @include hidden;
                    transition: all 0.2s ease 0.3s;
                }
            }

            &-input {
                @include r(0.1px);
                @include hidden;
            }

            &-input:checked + .form-check-label {
                &:before {
                    transform: rotateX(90deg);
                }

                .list--item-title {
                    color: $x-11;
                    transition: all 0.2s ease;
                    &:before {
                        width: calc(100% + 30px);
                    }
                }
            }
        }
        // .form-check,
        .list--item-options,
        .list--item-toggler {
            transition: all 0.2s ease;
            transform: translateX(0);
        }

        &.active {
            // .form-check,
            .list--item-options,
            .list--item-toggler {
                transform: translateX($offset_dist);
            }
        }
    }

    &--item-options {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        left: 100%;
        width: -$offset_dist;
        background: $cultured;

        .btn {
            border-radius: 0;
            height: 100%;
            flex: 1 1 auto;
            &:focus{
                box-shadow: none;
            }
        }
    }

    &--item-deletable {
        background: rgba($x-11, 0.2);
        flex: 1 1 auto;
    }

    &--item-delete {
        display: flex;
        padding: 8px;
        padding-left: 10px;
        align-items: center;
    }
    &--delete-timebar {
        display: block;
        content: "";
        background: $info;
        height: 2px;
        animation: timebar 3s ease-in;
    }
}

@keyframes timebar {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
