$cultured: #F8F8FAff;
$cultured-2: #F8F8FAff;
$permanent-geranium-lake: #E03535ff;
$cosmic-cobalt: #3A2B85ff;
$cultured-3: #F3F3F4ff;
$jet: #2C2C2Cff;
$gray-x-11-gray: #BCBCBDff;

$lake : $permanent-geranium-lake;
$x-11: $gray-x-11-gray;
$cobalt: $cosmic-cobalt;

$primary: $lake;